<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sean.note.android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sean.zq.android.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.sean.zq.android.view.qa.QAActivity">
        </activity>
        <activity android:name="com.sean.zq.android.view.widget.textview.BarrageActivity">
        </activity>
        <activity android:name="com.sean.zq.android.view.widget.WidgetActivity">
        </activity>
        <activity android:name="com.sean.zq.android.view.widget.textview.TextViewActivity">
        </activity>
        <activity android:name="com.sean.zq.android.view.widget.textview.TextViewDetailActivity">
        </activity>
        <activity android:name="com.sean.zq.android.view.view.ViewActivity">
        </activity>
        <activity android:name="com.sean.zq.android.view.view.fragment.FragmentDemoActivity">
        </activity>
        <activity android:name="com.sean.zq.android.view.view.fragment.FragmentLayout">
        </activity>
        <activity android:name="com.sean.zq.android.view.view.fragment.FragmentLayout$DetailsActivity">
        </activity>
        <activity android:name="com.sean.zq.android.view.view.fragment.FragmentStack">
        </activity>
    </application>

</manifest>